In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('hist_data.csv')

In [ ]:
df.head()

,buyer_id,pav_order_id,created,item_id,count,price_sold,flag_weight_goods,weight
0,95203091,98506637863,2021-07-01 00:03:44,202808329,1.000,79.990,False,11.14
1,95203091,98506637863,2021-07-01 00:03:44,202953905,1.072,44.945,True,11.14
2,95203091,98506637863,2021-07-01 00:03:44,203566452,1.000,69.990,False,11.14
3,95203091,98506637863,2021-07-01 00:03:44,202820143,1.972,41.295,True,11.14
4,95203091,98506637863,2021-07-01 00:03:44,204400422,1.000,269.990,False,11.14

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4529889 entries, 0 to 4529888
Data columns (total 8 columns):
 #   Column             Dtype
---  ------             -----
 0   buyer_id           int64
 1   pav_order_id       int64
 2   created            object
 3   item_id            int64
 4   count              float64
 5   price_sold         float64
 6   flag_weight_goods  bool
 7   weight             float64
dtypes: bool(1), float64(3), int64(3), object(1)
memory usage: 246.2+ MB

In [ ]:
df.shape

(4529889, 8)

In [ ]:
test = pd.read_csv('/content/gdrive/MyDrive/test.csv')

In [ ]:
test.head()

,buyer_id,pav_order_id,created,item_id,count,price_sold,flag_weight_goods
0,94640077,98519243164,2021-08-30 17:56:31,203053459,1.00,67.62,False
1,95865222,98512083628,2021-07-26 16:17:21,202967705,1.14,406.80,True
2,95147155,98519972197,2021-09-02 21:54:18,203551512,1.00,52.77,False
3,94832207,98518646272,2021-08-28 10:43:23,202801712,1.00,92.89,False
4,95483101,98510857920,2021-07-20 14:27:08,203416702,2.00,238.99,False

In [ ]:
test.shape

(1081420, 7)

# Для неизвестного пользователя

Рекомендация популярного на основе частоты встречаемости айтема/позиции. Одинаковая последовательность для всех пользователей.

1. Ранжирование независимо по двум признакам
2. Объединение датафреймов
3. Подсчет итогового ранга (ранг1 +ранг2)
4. Чем ниже сумма соответствующих рангов, тем выше итоговый ранг. 
5. Находим топ-20, которые и будут итоговыми рекомендациями

In [ ]:
df.head()

,buyer_id,pav_order_id,created,item_id,count,price_sold,flag_weight_goods,weight
0,95203091,98506637863,2021-07-01 00:03:44,202808329,1.000,79.990,False,11.14
1,95203091,98506637863,2021-07-01 00:03:44,202953905,1.072,44.945,True,11.14
2,95203091,98506637863,2021-07-01 00:03:44,203566452,1.000,69.990,False,11.14
3,95203091,98506637863,2021-07-01 00:03:44,202820143,1.972,41.295,True,11.14
4,95203091,98506637863,2021-07-01 00:03:44,204400422,1.000,269.990,False,11.14

In [ ]:
df.nunique()

buyer_id              63925
pav_order_id         231339
created              223826
item_id               52472
count                  7435
price_sold            66724
flag_weight_goods         2
weight                 6298
dtype: int64

## По частоте встречаемости позиции

In [ ]:
df['item_id'].value_counts() # 52 тыс. наименований

202820148    65840
202872237    41658
202809628    27245
202838754    17863
202862432    17640
             ...
204101206        1
204350511        1
204090531        1
204183401        1
204079718        1
Name: item_id, Length: 52472, dtype: int64

In [ ]:
df_1 = pd.DataFrame(df['item_id'].value_counts()).reset_index()

In [ ]:
df_1.rename(columns={'index': 'item_id', 'item_id' : 'item_freq'}, inplace=True)

In [ ]:
df_1.head()

     item_id  item_freq
0  202820148      65840
1  202872237      41658
2  202809628      27245
3  202838754      17863
4  202862432      17640

In [ ]:
df_1.shape

(52472, 2)

In [ ]:
df_1 = df_1.reset_index()

In [ ]:
df_1.rename(columns={'index': 'index_1'}, inplace=True)

In [ ]:
df_1.head()

   index_1    item_id  item_freq
0        0  202820148      65840
1        1  202872237      41658
2        2  202809628      27245
3        3  202838754      17863
4        4  202862432      17640

## По количеству заказанного

In [ ]:
df_2 = df.groupby(['item_id']).agg('sum').reset_index()

In [ ]:
df_2_1 = df_2[['item_id', 'count']]

In [ ]:
df_2_1

         item_id    count
0      202782406  203.000
1      202782407    1.000
2      202782412    6.000
3      202782414    8.000
4      202782415   20.000
...          ...      ...
52467  218175579    1.000
52468  218199321    1.000
52469  218217955    1.000
52470  218217991    0.055
52471  218240709    2.000

[52472 rows x 2 columns]

In [ ]:
sorted_df = df_2_1.sort_values(by='count', ascending=False)

In [ ]:
sorted_df = sorted_df.reset_index(drop=True)

In [ ]:
sorted_df.shape

(52472, 2)

In [ ]:
sorted_df = sorted_df.reset_index()

In [ ]:
sorted_df.rename(columns={'index': 'index_2'}, inplace=True)

In [ ]:
sorted_df.head()

   index_2    item_id      count
0        0  203370019  98157.596
1        1  202820148  80059.954
2        2  202872237  78496.290
3        3  202791192  29016.000
4        4  202843988  27954.181

## Итоговый датафрейм

In [ ]:
df_3 = df_1.merge(sorted_df, on = 'item_id')

In [ ]:
df_3.head()

   index_1    item_id  item_freq  index_2      count
0        0  202820148      65840        1  80059.954
1        1  202872237      41658        2  78496.290
2        2  202809628      27245        5  27725.617
3        3  202838754      17863       12  16790.446
4        4  202862432      17640        9  21970.262

In [ ]:
def get_rank(row):
   rank = row['index_1'] + row['index_2'] 
   return rank

In [ ]:
df_3['rank'] = df_3.apply(get_rank, axis = 1)

In [ ]:
df_3.head()

   index_1    item_id  item_freq  index_2      count  rank
0        0  202820148      65840        1  80059.954   1.0
1        1  202872237      41658        2  78496.290   3.0
2        2  202809628      27245        5  27725.617   7.0
3        3  202838754      17863       12  16790.446  15.0
4        4  202862432      17640        9  21970.262  13.0

In [ ]:
sorted_df_3 = df_3.sort_values(by='rank', ascending=True)

In [ ]:
sorted_df_3.head(20)

    index_1    item_id  item_freq  index_2      count  rank
0         0  202820148      65840        1  80059.954   1.0
1         1  202872237      41658        2  78496.290   3.0
2         2  202809628      27245        5  27725.617   7.0
9         9  202791192      15284        3  29016.000  12.0
4         4  202862432      17640        9  21970.262  13.0
8         8  202818687      16030        6  26862.000  14.0
3         3  202838754      17863       12  16790.446  15.0
5         5  203059303      17378       13  15888.607  18.0
14       14  202843988      13130        4  27954.181  18.0
19       19  203370019      11774        0  98157.596  19.0
6         6  203404725      17099       16  14423.494  22.0
7         7  202854572      16188       15  14440.254  22.0
17       17  202791620      12469        8  23821.000  25.0
18       18  202820144      12235        7  26675.521  25.0
15       15  212519969      12798       11  17741.000  26.0
11       11  203068900      15109       18  13051.579  29.0
12       12  202807362      13493       20  11990.261  32.0
10       10  202864758      15183       23  11414.330  33.0
22       22  203566372       9924       17  13074.000  39.0
29       29  202791611       8415       14  15722.000  43.0

Вот эти 20 товаров можно рекомендовать новым покупателям. И именно в такой последовательности.

# Для известного пользователя

In [ ]:
df.head()

,buyer_id,pav_order_id,created,item_id,count,price_sold,flag_weight_goods,weight
0,95203091,98506637863,2021-07-01 00:03:44,202808329,1.000,79.990,False,11.14
1,95203091,98506637863,2021-07-01 00:03:44,202953905,1.072,44.945,True,11.14
2,95203091,98506637863,2021-07-01 00:03:44,203566452,1.000,69.990,False,11.14
3,95203091,98506637863,2021-07-01 00:03:44,202820143,1.972,41.295,True,11.14
4,95203091,98506637863,2021-07-01 00:03:44,204400422,1.000,269.990,False,11.14

In [ ]:
def get_weight(row):
   weight = row['item_freq'] + row['item_count'] 
   return weight

In [ ]:
def get_top_items(input_data):

  # Сортировка позиций по частоте
  data_freq = pd.DataFrame(input_data['item_id'].value_counts()).reset_index()
  data_freq.rename(columns = {'index': 'item_id', 'item_id' : 'item_freq'}, 
                   inplace = True)

  # Сортировка позиций по количеству
  data_qty = input_data.groupby(['item_id']).agg('sum').reset_index()
  data_qty = data_qty[['item_id', 'count']]
  data_qty = data_qty.sort_values(by = 'count', ascending = False)
  data_qty = data_qty.reset_index(drop = True)
  data_qty.rename(columns = {'item_id': 'item_id', 'count': 'item_count'},
                  inplace = True)

  # Объединение результатов сортировки позиций по частоте
  # и сортировки позиций по количеству
  data_merged = data_freq.merge(data_qty, on = 'item_id')
  data_merged['weight'] = data_merged.apply(get_weight, axis = 1)
  data_merged = data_merged.sort_values(by = 'weight', ascending = False)
  top_items = pd.DataFrame(
      data_merged['item_id'].head(20)).reset_index(drop = True)
  
  return top_items

In [ ]:
top_items = get_top_items(df)
top_items

      item_id
0   202820148
1   202872237
2   203370019
3   202809628
4   202791192
5   202818687
6   202843988
7   202862432
8   202820144
9   202791620
10  202838754
11  203059303
12  203404725
13  202854572
14  212519969
15  203068900
16  202864758
17  203095154
18  202807362
19  202791611

In [ ]:
def get_user_top_items(input_data, buyer_id, top_items):
    
    if input_data['buyer_id'].isin([buyer_id]).any():
      user_data = input_data[input_data['buyer_id'] == buyer_id]
      user_top_items = get_top_items(user_data)

      if len(user_top_items) < 20 :
        list_user_top_items = user_top_items['item_id'].to_list()
        list_top_items = top_items['item_id'].to_list()

        for elem in list_top_items:
          if elem in list_user_top_items:
            continue
          else:
            list_user_top_items.append(elem)
            if len(list_user_top_items) == 20:
              break
        
        user_top_items = pd.DataFrame({'item_id': list_user_top_items})

      return user_top_items

        # for index, row in top_items.iterrows():
        #   if user_top_items['item_id'].isin([row['item_id']]).any():
        #     continue
        #   else:
        #     pd.concat(user_top_items,
        #               pd.DataFrame({'item_id': row['item_id']}))
        #     if len(user_top_items) == 20:
        #       break

        # user_top_items = user_top_items['item_id'].to_list()
        # top_items = top_items['item_id'].to_list()
        # for item in top_items:
        #   if item in user_top_items:
        #     continue
        #   else:
        #     user_top_items.append(item)
        #     if len(user_top_items) == 20:
        #       break

        #   user_top_items = pd.DataFrame({'item_id': user_top_items})
      
      return user_top_items
   
    else:
      return top_items

In [ ]:
df['buyer_id'].value_counts()

94740780    716
95918392    685
94807631    650
94811283    648
94721255    643
           ...
95703490     10
95889482     10
95851544     10
94889037     10
94909652     10
Name: buyer_id, Length: 63925, dtype: int64

In [ ]:
df_0 = get_user_top_items(df, 95851544, top_items)

In [ ]:
df_0

      item_id
0   203573959
1   203573962
2   204098476
3   203549853
4   202792533
5   203573958
6   202882835
7   204316596
8   204092140
9   202806896
10  202820148
11  202872237
12  203370019
13  202809628
14  202791192
15  202818687
16  202843988
17  202862432
18  202820144
19  202791620

In [ ]:
df.head()

,buyer_id,pav_order_id,created,item_id,count,price_sold,flag_weight_goods,weight
0,95203091,98506637863,2021-07-01 00:03:44,202808329,1.000,79.990,False,11.14
1,95203091,98506637863,2021-07-01 00:03:44,202953905,1.072,44.945,True,11.14
2,95203091,98506637863,2021-07-01 00:03:44,203566452,1.000,69.990,False,11.14
3,95203091,98506637863,2021-07-01 00:03:44,202820143,1.972,41.295,True,11.14
4,95203091,98506637863,2021-07-01 00:03:44,204400422,1.000,269.990,False,11.14

In [ ]:
def create_basket(test_data):
    pred = test_data.groupby(['pav_order_id'])['item_id'].agg([('basket', list)])
    return pred

In [ ]:
basket = create_basket(test)

In [ ]:
basket = basket.reset_index()

In [ ]:
basket.head()

   pav_order_id                                             basket
0    4620121489  [203164283, 204043498, 204146308, 204119602, 2...
1    4620121505  [202819114, 204074914, 202822471, 202880254, 2...
2    4620121594  [202818687, 203430473, 204016498, 203017711, 2...
3    4620121684  [203338264, 203436378, 203433668, 202812161, 2...
4    4620121902  [205768202, 202811971, 203429467, 204393593, 2...

In [ ]:
basket_and_buyer = test[['buyer_id', 'pav_order_id']]

In [ ]:
basket_and_buyer_unique = basket_and_buyer.drop_duplicates()

In [ ]:
len(basket_and_buyer_unique)

80244

In [ ]:
basket_merged = basket.merge(basket_and_buyer_unique, on = 'pav_order_id')

In [ ]:
basket_merged.head()

   pav_order_id                                             basket  buyer_id
0    4620121489  [203164283, 204043498, 204146308, 204119602, 2...  95969605
1    4620121505  [202819114, 204074914, 202822471, 202880254, 2...  95823859
2    4620121594  [202818687, 203430473, 204016498, 203017711, 2...  95487550
3    4620121684  [203338264, 203436378, 203433668, 202812161, 2...  95970193
4    4620121902  [205768202, 202811971, 203429467, 204393593, 2...  95803805

In [ ]:
basket_merged = basket_merged[['pav_order_id', 'buyer_id', 'basket']]
basket_merged.head()

   pav_order_id  buyer_id                                             basket
0    4620121489  95969605  [203164283, 204043498, 204146308, 204119602, 2...
1    4620121505  95823859  [202819114, 204074914, 202822471, 202880254, 2...
2    4620121594  95487550  [202818687, 203430473, 204016498, 203017711, 2...
3    4620121684  95970193  [203338264, 203436378, 203433668, 202812161, 2...
4    4620121902  95803805  [205768202, 202811971, 203429467, 204393593, 2...

In [ ]:
basket_merged['preds'] = ''

In [ ]:
basket_merged.shape

(80244, 4)

In [ ]:
basket_merged.head()

,pav_order_id,buyer_id,basket,preds
0,4620121489,95969605,"[203164283, 204043498, 204146308, 204119602, 2...",
1,4620121505,95823859,"[202819114, 204074914, 202822471, 202880254, 2...",
2,4620121594,95487550,"[202818687, 203430473, 204016498, 203017711, 2...",
3,4620121684,95970193,"[203338264, 203436378, 203433668, 202812161, 2...",
4,4620121902,95803805,"[205768202, 202811971, 203429467, 204393593, 2...",

In [ ]:
basket_merged_small = basket_merged.head(100)

In [ ]:
# Формирование корзины рекомендаций для пользователей
cntr = 0

for index, row in basket_merged.iterrows():
  order_id = row['pav_order_id']
  buyer_id = row['buyer_id']

  print('cntr: ', cntr, 'order_id: ', order_id, 'buyer_id: ', buyer_id)

  buyer_top_items = get_user_top_items(df, buyer_id, top_items)
  buyer_top_items = buyer_top_items['item_id'].to_list()
  basket_merged.at[index, 'preds'] = buyer_top_items

  cntr += 1

In [ ]:
basket_shrinked = basket_merged.drop(columns = ['buyer_id', 'basket'])

In [ ]:
basket_shrinked.set_index('pav_order_id', inplace = True)
basket_shrinked.head()

             preds
pav_order_id
4620121489
4620121505
4620121594
4620121684
4620121902

In [ ]:
basket_shrinked.to_csv("preds_on_test_data.csv")

In [ ]:
basket_shrinked = pd.read_csv("preds_on_test_data.csv")

In [ ]:
basket_test = basket_shrinked
basket_test.head()

   pav_order_id                                              preds
0    4620121489  [202820148, 202872237, 203370019, 202809628, 2...
1    4620121505  [202820148, 202872237, 203370019, 202809628, 2...
2    4620121594  [202820148, 202872237, 203370019, 202809628, 2...
3    4620121684  [202820148, 202872237, 203370019, 202809628, 2...
4    4620121902  [202820148, 202872237, 203370019, 202809628, 2...

In [ ]:
# Установление соответствия между корзиной и айдишником пользователя
basket_test = basket_test.merge(basket_and_buyer_unique, on = 'pav_order_id')
basket_test.head()

   pav_order_id                                              preds  buyer_id
0    4620121489  [202820148, 202872237, 203370019, 202809628, 2...  95969605
1    4620121505  [202820148, 202872237, 203370019, 202809628, 2...  95823859
2    4620121594  [202820148, 202872237, 203370019, 202809628, 2...  95487550
3    4620121684  [202820148, 202872237, 203370019, 202809628, 2...  95970193
4    4620121902  [202820148, 202872237, 203370019, 202809628, 2...  95803805

In [ ]:
# Делим пользователей на холодных и теплых
basket_test['known_buyer'] = ''
basket_test.head()

,pav_order_id,preds,buyer_id,known_buyer
0,4620121489,"[202820148, 202872237, 203370019, 202809628, 2...",95969605,
1,4620121505,"[202820148, 202872237, 203370019, 202809628, 2...",95823859,
2,4620121594,"[202820148, 202872237, 203370019, 202809628, 2...",95487550,
3,4620121684,"[202820148, 202872237, 203370019, 202809628, 2...",95970193,
4,4620121902,"[202820148, 202872237, 203370019, 202809628, 2...",95803805,

In [ ]:
cntr = 0

for index, row in basket_test.iterrows():
  buyer_id = row['buyer_id']

  print('cntr: ', cntr, 'buyer_id: ', buyer_id)

  if df['buyer_id'].isin([buyer_id]).any():
    basket_test.at[index, 'known_buyer'] = 1
  else:
    basket_test.at[index, 'known_buyer'] = 0

  cntr += 1

In [ ]:
basket_test.head()

,pav_order_id,buyer_preds,buyer_id,known_buyer
0,4620121489,"[202820148, 202872237, 203370019, 202809628, 2...",95969605,0
1,4620121505,"[202820148, 202872237, 203370019, 202809628, 2...",95823859,0
2,4620121594,"[202820148, 202872237, 203370019, 202809628, 2...",95487550,0
3,4620121684,"[202820148, 202872237, 203370019, 202809628, 2...",95970193,0
4,4620121902,"[202820148, 202872237, 203370019, 202809628, 2...",95803805,0

In [ ]:
basket_test.known_buyer.sum()

63925

In [ ]:
basket_test.rename(columns = {'preds': 'buyer_preds'}, inplace = True)
basket_test.head()

,pav_order_id,buyer_preds,buyer_id,known_buyer
0,4620121489,"[202820148, 202872237, 203370019, 202809628, 2...",95969605,0
1,4620121505,"[202820148, 202872237, 203370019, 202809628, 2...",95823859,0
2,4620121594,"[202820148, 202872237, 203370019, 202809628, 2...",95487550,0
3,4620121684,"[202820148, 202872237, 203370019, 202809628, 2...",95970193,0
4,4620121902,"[202820148, 202872237, 203370019, 202809628, 2...",95803805,0

In [ ]:
# соберем словарь встречаемостей - какие item_id покупались чаще с 
# каждым item_id

import gc

from collections import Counter 


hist_data = df

tmp = (
    hist_data[['item_id', 'pav_order_id']]
    .sort_values(['item_id', 'pav_order_id'])
    .merge(hist_data[['item_id', 'pav_order_id']], how='left', on=['pav_order_id'], suffixes=('', '_left'))
)
tmp = tmp[tmp['item_id'] != tmp['item_id_left']].copy()
tmp1 = tmp.groupby(['item_id'])['item_id_left'].agg(lambda x: Counter(x).most_common(10))

most_freq_dict = {k: v for (k, v) in tmp1.iteritems()}

In [ ]:
# из списка кандидатов по совстречаемости удаляем повторяющиеся item_id, 
# сохраняя порядок
def get_unique_recs(recs: list, top_n: int) -> list:
    rec_dict = {}
    counter = 0
    for k, v in recs:
        if k not in rec_dict:
            rec_dict[k] = v
            counter += 1
        if counter == top_n:
            break
    return list(rec_dict.keys())

In [ ]:
def rec_by_item(item_id: int, most_freq_dict: dict) -> list:
    
    return most_freq_dict.get(item_id, None)

In [ ]:
# для каждого item_id соберем top_n самых часто встречающихся item_id,
# отсортируем по частоте и выберем уникальные
def rec_by_basket(basket: list, most_freq_dict: dict,
                  top_n: int = 20) -> list:
    
    res = []
    for item in basket:
        recs = rec_by_item(item, most_freq_dict)
        if recs is not None:
            res += recs
    
    res = sorted(res, key=lambda x: x[1], reverse=True)
    
    return get_unique_recs(res, top_n)

In [ ]:
pred = test.groupby(['pav_order_id'])['item_id'].agg([('basket', list)])

In [ ]:
pred['preds'] = pred['basket'].map(lambda x: rec_by_basket(x, most_freq_dict=most_freq_dict))

In [ ]:
pred.head()

,basket,preds
pav_order_id,,
4620121489,"[203164283, 204043498, 204146308, 204119602, 2...","[202820148, 202872237, 202791620, 202809628, 2..."
4620121505,"[202819114, 204074914, 202822471, 202880254, 2...","[202820148, 202872237, 202880262, 203068900, 2..."
4620121594,"[202818687, 203430473, 204016498, 203017711, 2...","[202820148, 202872237, 203059303, 202809628, 2..."
4620121684,"[203338264, 203436378, 203433668, 202812161, 2...","[202820148, 202872237, 203090014, 203090010, 2..."
4620121902,"[205768202, 202811971, 203429467, 204393593, 2...","[202820148, 203422957, 203431923, 202872237, 2..."

In [ ]:
pred.reset_index(inplace = True)

In [ ]:
pred.head()

,pav_order_id,basket,preds
0,4620121489,"[203164283, 204043498, 204146308, 204119602, 2...","[202820148, 202872237, 202791620, 202809628, 2..."
1,4620121505,"[202819114, 204074914, 202822471, 202880254, 2...","[202820148, 202872237, 202880262, 203068900, 2..."
2,4620121594,"[202818687, 203430473, 204016498, 203017711, 2...","[202820148, 202872237, 203059303, 202809628, 2..."
3,4620121684,"[203338264, 203436378, 203433668, 202812161, 2...","[202820148, 202872237, 203090014, 203090010, 2..."
4,4620121902,"[205768202, 202811971, 203429467, 204393593, 2...","[202820148, 203422957, 203431923, 202872237, 2..."

In [ ]:
pred_copy = pred.copy()

In [ ]:
pred_copy.drop(columns = 'basket', inplace = True)

In [ ]:
pred_copy.head()

   pav_order_id                                              preds
0    4620121489  [202820148, 202872237, 202791620, 202809628, 2...
1    4620121505  [202820148, 202872237, 202880262, 203068900, 2...
2    4620121594  [202820148, 202872237, 203059303, 202809628, 2...
3    4620121684  [202820148, 202872237, 203090014, 203090010, 2...
4    4620121902  [202820148, 203422957, 203431923, 202872237, 2...

In [ ]:
basket_new = basket_test.merge(pred_copy, on = 'pav_order_id')

In [ ]:
basket_new.head()

,pav_order_id,buyer_preds,buyer_id,known_buyer,preds
0,4620121489,"[202820148, 202872237, 203370019, 202809628, 2...",95969605,0,"[202820148, 202872237, 202791620, 202809628, 2..."
1,4620121505,"[202820148, 202872237, 203370019, 202809628, 2...",95823859,0,"[202820148, 202872237, 202880262, 203068900, 2..."
2,4620121594,"[202820148, 202872237, 203370019, 202809628, 2...",95487550,0,"[202820148, 202872237, 203059303, 202809628, 2..."
3,4620121684,"[202820148, 202872237, 203370019, 202809628, 2...",95970193,0,"[202820148, 202872237, 203090014, 203090010, 2..."
4,4620121902,"[202820148, 202872237, 203370019, 202809628, 2...",95803805,0,"[202820148, 203422957, 203431923, 202872237, 2..."

In [ ]:
basket_new.rename(columns = {'preds': 'freq_preds'}, inplace = True)
basket_new.head()

,pav_order_id,buyer_preds,buyer_id,known_buyer,freq_preds
0,4620121489,"[202820148, 202872237, 203370019, 202809628, 2...",95969605,0,"[202820148, 202872237, 202791620, 202809628, 2..."
1,4620121505,"[202820148, 202872237, 203370019, 202809628, 2...",95823859,0,"[202820148, 202872237, 202880262, 203068900, 2..."
2,4620121594,"[202820148, 202872237, 203370019, 202809628, 2...",95487550,0,"[202820148, 202872237, 203059303, 202809628, 2..."
3,4620121684,"[202820148, 202872237, 203370019, 202809628, 2...",95970193,0,"[202820148, 202872237, 203090014, 203090010, 2..."
4,4620121902,"[202820148, 202872237, 203370019, 202809628, 2...",95803805,0,"[202820148, 203422957, 203431923, 202872237, 2..."

In [ ]:
def choose_preds(row):
  if row['known_buyer'] == 0:
    new_preds = row['freq_preds']
  else:
    new_preds = row['buyer_preds']

  return new_preds

In [ ]:
 basket_new['preds'] = basket_new.apply(choose_preds, axis = 1)

In [ ]:
basket_new.head()

,pav_order_id,buyer_preds,buyer_id,known_buyer,freq_preds,preds
0,4620121489,"[202820148, 202872237, 203370019, 202809628, 2...",95969605,0,"[202820148, 202872237, 202791620, 202809628, 2...","[202820148, 202872237, 202791620, 202809628, 2..."
1,4620121505,"[202820148, 202872237, 203370019, 202809628, 2...",95823859,0,"[202820148, 202872237, 202880262, 203068900, 2...","[202820148, 202872237, 202880262, 203068900, 2..."
2,4620121594,"[202820148, 202872237, 203370019, 202809628, 2...",95487550,0,"[202820148, 202872237, 203059303, 202809628, 2...","[202820148, 202872237, 203059303, 202809628, 2..."
3,4620121684,"[202820148, 202872237, 203370019, 202809628, 2...",95970193,0,"[202820148, 202872237, 203090014, 203090010, 2...","[202820148, 202872237, 203090014, 203090010, 2..."
4,4620121902,"[202820148, 202872237, 203370019, 202809628, 2...",95803805,0,"[202820148, 203422957, 203431923, 202872237, 2...","[202820148, 203422957, 203431923, 202872237, 2..."

In [ ]:
basket_new_shrinked = basket_new.drop(columns = ['buyer_preds', 'buyer_id', 'known_buyer', 'freq_preds'])

In [ ]:
basket_new_shrinked.head()

   pav_order_id                                              preds
0    4620121489  [202820148, 202872237, 202791620, 202809628, 2...
1    4620121505  [202820148, 202872237, 202880262, 203068900, 2...
2    4620121594  [202820148, 202872237, 203059303, 202809628, 2...
3    4620121684  [202820148, 202872237, 203090014, 203090010, 2...
4    4620121902  [202820148, 203422957, 203431923, 202872237, 2...

In [ ]:
basket_new_shrinked.set_index('pav_order_id', inplace = True)

In [ ]:
basket_new_shrinked.head()

                                                          preds
pav_order_id
4620121489    [202820148, 202872237, 202791620, 202809628, 2...
4620121505    [202820148, 202872237, 202880262, 203068900, 2...
4620121594    [202820148, 202872237, 203059303, 202809628, 2...
4620121684    [202820148, 202872237, 203090014, 203090010, 2...
4620121902    [202820148, 203422957, 203431923, 202872237, 2...

In [ ]:
basket_new_shrinked.to_csv("preds_combined.csv")